body {
  font-family: "Lato", sans-serif;
}

.mainPages {
  margin-left:200px;

}

.sidenav {
  height: 100%;
  width:200px;
  position: absolute;
  z-index: 2;
  top: 60px;
  left: 0;
  background-color: whitesmoke;
  overflow-x: hidden;

}






.horizontalnav{
  margin:0px;
  list-style-type: none;
  background-color: whitesmoke;
  height:60px;
  overflow: hidden;
}

.horizontalnavElement{
  display: inline;
  font-size: 180%;
  padding: 1%;
}

.currency-offset{
  margin-left: 10px;
}
.morePage{
  z-index: 3;
  position:absolute;
  background-color: #818181;
  height:100%;
  width:100%;
}


